#contact-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 6px 20px;
  color: var(--fg);
  width: 150px;
}

#contact-button:hover {
  background-color: var(--fg);
  color: var(--bg);
}

#img-option {
  float: right;
}

#contact-button:hover .svg-path {
  filter: invert(100%);
}
